@using Client.Services
@inject IJSRuntime JsRuntime
@inject StorageState StorageState


<h2 class="ml-2 my-3">Save search</h2>

<form class="form-row px-5 mb-3" onsubmit="return false">
    <div class="col-6">
        <input class="form-control" placeholder="Search Query name" @bind="SearchQueryName" @bind:event="oninput" aria-describedby="inputGroupPrepend" required/>
    </div>

    <div class="col-6">
        <button class="btn btn-primary align-content-center px-5" @onclick="@(() => StorageState.SaveToLocalStorage(SearchQueryName))">Save</button>
    </div>
</form>

<SuccessAlert ShowAlert="@StorageState.ShowAlert"/>

@code {
    private string SearchQueryName { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        StorageState.ShowAlert = false;
    }
}
