@if (ShowAlert)
{
    <div class="px-5">
        <div class="alert alert-success fade show px-5" role="alert">
            <strong>Succesfuly added.</strong> You can see your saved seaches at <a href="saved">saved</a> page.
            <button class="close" type="button" @onclick="@(() => { ShowAlert = false; })">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

@code {

    [Parameter]
    public bool ShowAlert { get; set; }

}