@page "/articles"
@using Client.Services
@inject ArticleState ArticleState

<h1>Articles</h1>

<SearchForm/>

@if (!ArticleState.IsLoaded)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @foreach (var article in ArticleState.Articles)
    {
        <p>@article.Title</p>
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        ArticleState.OnChange += StateHasChanged;
        await ArticleState.Load();
    }

}