@page "/"
@using Client.Services
@inject ArticleState ArticleState
@inject IJSRuntime JsRuntime

<SearchStorage>
    <SearchForm/>
</SearchStorage>

@if (!ArticleState.IsLoaded)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <SaveSearchesForm/>
    
    <ArticlesResult/>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        if (await JsRuntime.InvokeAsync<string>("stateManager.load", "_searchQueries") == null)
        {
            await ArticleState.Load();
        }
        
        ArticleState.OnChange += StateHasChanged;
    }
}